<footer class="bg-light d-flex flex-column justify-content-center align-items-center">
    <nav class="navbar">
        <ul class="navbar-nav d-flex flex-row">
            <li><a href="mailto:pranjalpro12@gmail.com" class="nav-link mx-3 fs-5"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://www.instagram.com/pranjal_pro_/" class="nav-link mx-3 fs-5"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/pranjalpro12/" class="nav-link mx-3 fs-5"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>
    <p style="text-align: center;">&copy; 2024 Pranjal Saxena, Airbnb Private Limited. All rights reserved.</p>
    <p class="my-2">Privacy Terms</p>
</footer>